.Twitch .Container-Right {
  float: right;
}

.Twitch .Container-Right h3 {
  font-size: 30px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.Twitch .Container-Right .underline {
  height: 2px;
  background-color: #412f66;
  background-image: linear-gradient(19deg, #412f66 16%, #fee600 100%);
  border-radius: 15px 0px 0px 15px;
}

.Twitch .Container-Left {
  clear: both;
}

.Youtube-Container {
  height: 275px;
  width: 300px;
  margin: auto auto;
}
