.Twitch .Container-Right {
  float: right;
  margin-bottom: 20px;
}

.Twitch .Container-Right h3 {
  font-size: 20px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.Twitch .Container-Right .underline {
  height: 2.5px;
  background: #6441a5;
  background: -webkit-linear-gradient(to right, #6441a5, #2a0845);
  background: linear-gradient(to right, #6441a5, #2a0845);
  width: 100%;
  border-radius: 15px 0px 0px 15px;
}

.Twitch .Container-Left {
  clear: right;
}

.Twitch-Container {
  height: 149px;
  width: 265px;
  margin: auto auto;
  box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  -webkit-border-radius: 15px;
}

.Twitch-Container iframe {
  border-radius: 15px;
  -webkit-border-radius: 15px;
}

.Youtube-Container {
  height: 149px;
  width: 265px;
  margin: auto auto;
  margin-bottom: 30px;
  box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  -webkit-border-radius: 15px;
}

.Youtube .Container-Left .underline {
  height: 2.5px;
  background: #e52d27;
  background: -webkit-linear-gradient(to right, #b31217, #e52d27);
  background: linear-gradient(to right, #b31217, #e52d27);
  width: 100%;
  border-radius: 0px 15px 15px 0px;
}

.Youtube .Container-Left {
  float: left;
  margin-bottom: 20px;
  margin-top: 50px;
}

.Youtube .Container-Right {
  clear: left;
}

.Youtube-Container iframe {
  border-radius: 15px;
  -webkit-border-radius: 15px;
}

.Youtube .Container-Left h3 {
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .Twitch-Container {
    height: 262px;
    width: 465px;
  }

  .Youtube-Container {
    height: 262px;
    width: 465px;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .Twitch-Container {
    height: 371px;
    width: 660px;
  }

  .Twitch-Container iframe {
    border-radius: 15px;
  }

  .Youtube-Container {
    height: 371px;
    width: 660px;
    margin-bottom: 70px;
    border-radius: 15px;
  }

  .Twitch .Container-Right h3 {
    font-size: 50px;
    margin-bottom: 5px;
    margin-right: 10px;
  }

  .Youtube .Container-Left h3 {
    font-size: 50px;
    margin-bottom: 5px;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .Twitch .Container-Right h3 {
    margin-right: 30px;
    font-size: 50px;
  }

  .Youtube .Container-Left h3 {
    margin-left: 30px;
    font-size: 50px;
  }

  .Twitch .Container-Right {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .Youtube .Container-Left {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .Twitch-Container {
    height: 371px;
    width: 660px;
  }

  .Youtube-Container {
    height: 371px;
    width: 660px;
    margin-bottom: 70px;
    border-radius: 15px;
  }
}
